body {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('./assets/background.png');
    background-size: 100vw;
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}

header, 
header * {
    margin: 0 auto; 
    height: fit-content;
}
header {
    max-width: 40vw;   
    margin-top: 20vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
}
#logo { max-width: 100%; }
#slogan { max-width: 30%; }

nav { margin-bottom: 33vh; }
nav ul {
    display: flex;
    justify-content: space-evenly;
    column-gap: 16vh;
    list-style-type: none;
    width: fit-content;
    margin: 0 auto;
}
nav ul li {
    cursor: pointer;
    font-size: 20px;
}
nav ul li:hover {
    border-bottom: 4px solid white; 
    color: white;    
}
nav ul li:hover ,
nav ul li.active { filter: drop-shadow(0 0 10px #ff0075); font-weight: bold; }
nav ul li.active { 
    filter: drop-shadow(0 0 10px #ff0075);
    border-bottom: 4px solid #ff0075; 
    color: #ff0075;
}
/* 
When we hover on the ul element, 
then the active li will have no border
and it will be in normal (not bold) font-weight 
*/
nav ul:hover li.active {
    border-bottom: none; 
    font-weight: normal;
}
nav figure {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
nav img { max-width: 90px; }
nav ul button { all: unset; }

article { 
    margin: 0vh auto; 
    padding-block: 25px;
}
article section:first-child {margin-top: 0vh;}
article section {
    background: linear-gradient(rgba(0, 0, 0, 0.97), rgba(0, 0, 0, 0.97));
    filter: drop-shadow(0 0 4px #ff0075);
    margin: 0 auto;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    margin-top: 15vh;
}
article section h2 {
    position: relative;
    background-color: #ff0075;
    width: 100%;
    line-height: 50px;
    height: 50px;
    color: black;
    text-shadow: white 1px 1px 10px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}
/* ↓ In Edit or Delete Mode ('✍🏻' or '❌') ↓ */
section h2 button {
    height: 50px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 85px;
    border: unset;
    background-color: unset;
    font-size: 1.15em;
    animation: shakeme 0.5s infinite;
}
@keyframes shakeme {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(10deg); }
    50%  { transform: rotate(20deg); }
    75%  { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
}
article section img { max-width: 14vw; }
article section div { 
    width: 90%;
    margin-block: 1vh;
}

#formAddMovieContainer { width: 60vw; }
form { 
    max-width: 100%;
    font-size: 1.5rem; 
}
section form div { 
    display: flex; 
    align-items: center;
    display: 90%;
    margin: 0 auto;
    margin-block: 5vh; 
    justify-content: space-between;
}
form label {
    display: inline-block;
    width: 330px;
}
form input, form textarea { 
    background-color: rgba(255, 255, 255, 0.7); 
    font-size: 0.7em;
    width: 18vw;
}
form input:focus, form textarea:focus{ 
    border: 3px solid #ff0075; 
    outline: none; 
}

/* Styling the part of selecting Genres */
form div#genresDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}
#genresSelectContainer {
    display: flex;
    flex-wrap: wrap;
    width: 18vw;
    justify-content: center;
    margin: unset;
}
#genresSelectContainer select { 
    width: 14.4vw;
    margin-block: 1vh; 
}
#genresSelectContainer button { width: 2vw; }

/* Styling the part of writing the movie Plot */
form textarea { font-size: initial; }
#plotTextarea { min-height: 50px; }

/* Styling the part of entering the movie Casts */
#castAddContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2px;
    width: 18vw;
    height: fit-content;
    justify-content: center;
    margin: unset;
}
#castAddContainer input { 
    margin-block: 1vh; 
    width: 13vw;
    height: 30px;
}
#castAddContainer button {
    height: 37px;
    width: 2.5vw;
}

button[type=submit] {
    margin: 5vh auto;
    width: fit-content;
    font-size: 1.2rem;
    display: block;
}



@media only screen and (max-width: 600px) {
    #logo {
        height: 50%;
        max-width: 100%;
        margin: 0 auto;
    }

    #slogan {
        max-width: 65%;
        margin: 0 auto;
        margin-top: 0.5vh;
    }

    nav {margin-bottom: 45vh}
    nav ul { 
        column-gap: initial;
        padding-left: 0;
    }
    nav ul li { max-width: 25vw; }
    nav ul button {
        width: max-content;
        font-size: 10px;
    }
    nav ul img { width: 7vw; }
    nav figure { height: 60px; }
    nav ul li::before { display: none; }

    article, article section, button[id^=sendEditedBtn] { font-size: 5px; }
    article section h2 { 
        height: 25px; 
        line-height: 25px; 
    }

    section:has(form) {
        width: 100vw;
    }
    
    form { 
        font-size: 0.75rem; 
        max-width: 90%;
        height: fit-content;
    }
    form div {
        margin: 0 auto;
        width: 80%;
        height: fit-content
    }
    form input, form textarea {
        min-width: 90px;
        max-height: 10px;
    }
    #genresSelectContainer {
        display: flex;
        flex-wrap: wrap;
        width: 422px;
        justify-content: flex-end;
        margin: unset;
    }
    #genresSelectContainer select { 
        width: 75px;
        margin-block: 1vh;
        height: 20px;
        font-size: 6px;
    }
    #genresSelectContainer button { 
        width: 20px;
        height: 20px;
        font-size: 0.7em;
    }
    
    #castAddContainer {
        display: flex;
        flex-wrap: wrap;
        width: 422px;
        justify-content: flex-end;
        margin: unset;
    }
    form #castAddContainer input { 
        min-width: 67px;
        margin-block: 1vh;
        height: 20px;
        font-size: 6px;
    }
    #castAddContainer button { 
        width: 20px;
        height: 18px;
        font-size: 0.7em;
    }
    
    button[type=submit] {
        margin: 5vh auto;
        width: fit-content;
        font-size: 0.6rem;
        display: block;
    }
    button[id^=sendEditedBtn] { margin-top: 2vh; outline: none; }
    section h2 button {
        font-size: 10px;
        top: 0;
        right: 0;
        height: 20px;
        width: 50px;
    }

    #plotTextarea { font-size: 0.7em; }
}

/* styling by classes */
.deepPink { color: #ff0075; }
.smallText { font-size: small; }
.blackTextShadow { text-shadow: 0 0 3px black; }
